@use "@styles/breakpoint";

.errorContainer {
  display: flex;
  flex-direction: row;
  height: 26px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fffbfa;
  border: 1px solid;
  border-color: #fda29b;
  padding: 16px;
  margin-top: 32px;
  margin-bottom: 48px;
  font-size: 14px;
  text-align: left;
  div {
    color: #b42318;
  }
  @media (min-width: breakpoint.$desktop) {
    justify-content: space-between;
  }
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 97%;
  gap: 12px;
  margin-left: 10px;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  gap: 12px;
  text-wrap: nowrap;
}

.arrow {
  max-width: auto;
  max-height: 12%;
}

.alert {
  max-width: auto;
  max-height: 80%;
}
