@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

.button {
  cursor: pointer;

  /* remove default button styles */
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

.primary {
  color: color.$primary-600;

  :hover {
    color: color.$primary-700;
  }

  :focus {
    color: color.$primary-600;
    border: 4px;
    border-color: color.$primary-100;
  }
}

.secondary {
  color: color.$primary-50;
}

.xl {
  width: 128px;
  height: 48px;
}
