@use "@styles/color";
@use "@styles/space";
@use "@styles/font";

$myHeight: 40px;
$myWidth: 109px;
/*Base button styling*/
.button {
  border-radius: 8px;
  border-width: 4px;
  border-color: transparent;
  border-style: solid;

  display: flex;
  align-items: center;
  justify-content: space-around;

  .div {
    height: 50%;
  }

  .icon {
    width: 50%;
  }
}

/*Implimentation of each color set*/
.primary {
  background-color: color.$primary-600;
  color: white;

  &:hover {
    background-color: color.$primary-700;
  }

  &:focus {
    background-color: color.$primary-600;
    border-color: color.$primary-100;
  }

  &:disabled {
    background-color: color.$primary-50;
    filter: blur();
  }
}

.secondary {
  background-color: color.$primary-50;
  color: color.$primary-700;

  &:hover {
    background-color: color.$primary-100;
  }

  &:focus {
    background-color: color.$primary-50;
    border-color: color.$primary-50;
  }

  &:disabled {
    background-color: color.$primary-25;
  }
}

.gray {
  background-color: white;
  color: color.$grey-800;

  &:hover {
    background-color: color.$grey-50;
  }

  &:focus {
    background-color: white;
    border-color: color.$grey-300;
  }
}

.empty {
  background-color: transparent;
  color: color.$primary-700;

  &:hover {
    background-color: transparent;
  }

  &:focus {
    background-color: color.$primary-600;
    border-color: color.$grey-300;
  }
}

.emptyGray {
  background-color: transparent;
  color: white;

  &:hover {
    background-color: color.$grey-50;
  }

  &:focus {
    background-color: transparent;
    border-color: color.$primary-100;
  }
}

.error {
  background-color: color.$primary-600;
  color: white;

  &:hover {
    background-color: color.$primary-700;
  }

  &:focus {
    background-color: color.$primary-600;
    border-color: color.$primary-100;
  }
}

.emptyError {
  background-color: color.$primary-600;
  color: white;

  &:hover {
    background-color: color.$primary-700;
  }

  &:focus {
    background-color: color.$primary-600;
    border-color: color.$primary-100;
  }
}

/*Button size styling*/
.xl {
  width: 128px;
  height: 48px;

  $myWidth: 128px;
  $myHeight: 48px;
}

.lg {
  width: 124px;
  height: 44px;

  $myWidth: 124px;
  $myHeight: 44px;
}

.md {
  width: 109px;
  height: 40px;

  $myWidth: 109px;
  $myHeight: 40px;
}

.sm {
  width: 105px;
  height: 36px;

  $myWidth: 105px;
  $myHeight: 36px;
}

/*Button text Pacement*/
.noText {
  font-size: 0;
  width: $myHeight;
}

.leading {
  flex-direction: row-reverse;
}

.trailing {
  flex-direction: row;
}
